data/ filter=lfs diff=lfs merge=lfs -text
data/before_with_places_ext.csv filter=lfs diff=lfs merge=lfs -text
data/facebook_before_election.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_after_election.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_before_insurrection.csv filter=lfs diff=lfs merge=lfs -text
data/after_with_places_ext_election.csv filter=lfs diff=lfs merge=lfs -text
data/before_with_places_ext_election.csv filter=lfs diff=lfs merge=lfs -text
data/reddit_after_election.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_after_insurrection.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_before_election.csv filter=lfs diff=lfs merge=lfs -text
data/after_with_places_ext.csv filter=lfs diff=lfs merge=lfs -text
data/facebook_before_insurrection.csv filter=lfs diff=lfs merge=lfs -text
data/reddit_after_insurrection.csv filter=lfs diff=lfs merge=lfs -text
data/reddit_before_election.csv filter=lfs diff=lfs merge=lfs -text
data/facebook_after_election.csv filter=lfs diff=lfs merge=lfs -text
data/reddit_before_insurrection.csv filter=lfs diff=lfs merge=lfs -text
data/facebook_after_insurrection.csv filter=lfs diff=lfs merge=lfs -text
